@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.right label {
    margin-right: 5px;
}
.right input {
    margin-right: 20px;
    max-height: 1em;
    max-width: 2em;
}
.none {
    display: none !important;
}
:root {
    --bg-color: #bee9e8;
    --bg2-color: #62b6cb;
    --fg-color: #0096c7;
    --act-color: #2fb8e5;
    --active-text-color: #003398;
    --active-light-text-color: rgb(11, 78, 223);
    --text-color: #1b4965;
    --darker-text-color: #133347;
    --light-text-color: rgb(255, 255, 255);
    --border-radius: 15px;
    --small-gap: 10px;
    --big-gap: 25px;
    --box-shadow: 7px 7px 8px 0px rgba(34, 60, 80, 0.2);
    /* --bs-body-color: var(--text-color);  */
}
body {
    color: var(--text-color);
/*     font-family: 'Lora', serif; */
/* 	font-family: 'Rubik', sans-serif; */
	font-family: 'Inter', sans-serif;
    margin: 0;
    background-color: var(--bg-color);
}
p {
    margin: 0;
}
a {
    color: var(--active-text-color);
    text-decoration: none;
}
a:hover {
    color: var(--active-light-text-color);
    text-decoration: underline;
}
input:focus-visible {
    outline: none;
}
.head {
    display: flex;
    position: fixed;
    top: 0;
    z-index: 50;
    width: 100%;
    flex-wrap: nowrap;
    max-height: 80px;
    padding: 8px;
    background-color: var(--bg2-color);
    color: var(--active-text-color);
    -webkit-box-shadow: 0px 10px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 10px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 10px 8px 0px rgba(34, 60, 80, 0.2);
}
.head img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.head .left {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: var(--big-gap);
    flex-grow: 1;
    flex-basis: 0;
}
.head .center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--small-gap);
    flex-grow: 1;
    flex-basis: 0;
}
.head .right {
    display: flex;
    justify-content: right;
    flex-grow: 1;
    flex-basis: 0;
}

main {
    margin-top: 80px;
}
main h2 {
    margin-top: var(--big-gap);
    margin-bottom: var(--small-gap);
    margin-inline: var(--big-gap);
}

.banner {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 300px;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    overflow: hidden;
}
.banner img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.banner::after {
    position: absolute;
    content: "";
    z-index: 5;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 25%, transparent);
}
.banner p {
    position: absolute;
    font-size: 30px;
    color: var(--light-text-color);
    bottom: var(--small-gap);
    z-index: 10;
}
.dormitory-activities {
    margin-inline: var(--small-gap);
    margin-bottom: var(--small-gap);
    padding: var(--small-gap);
    font-size: 16px;
    border-radius: 15px;
    background-color: var(--bg-color);
}
.dormitory-activities button {
    max-width: 300px;
    height: 80px;
    padding: 15px;
    font-size: 16px;
    background-color: var(--act-color);
    border-radius: 15px;
    border: none;
}

.newslist-smallcard {
    color: var(--darker-text-color);
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-inline: var(--big-gap);
	gap: var(--small-gap);
}

.newslist-smallcard .news-item {
    background-color: var(--bg2-color);
    width: 22%;
    min-width: 350px;
    position: relative;
    flex-grow: 1;
    margin-block: var(--small-gap);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: var(--box-shadow);
}

.newslist-smallcard .news-item-empty {
    width: 22%;
    min-width: 350px;
    flex-grow: 1;
}
.newslist-smallcard .news-item-image {
    height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.newslist-smallcard .news-item-image img {
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.newslist-smallcard .news-item-categories {
    display: flex;
}
.newslist-smallcard .news-item-category {
    flex-grow: 1;
    font-size: 60%;
    padding: 5px 10px 7px 10px;
    text-align: center;
    line-height: 1em;
}
.newslist-smallcard .news-item-header {
    padding: 1em;
    font-weight: bold;
    flex-grow: 1;
}
.outside-activities {
    color: var(--darker-text-color);
    display: flex;
    margin: var(--small-gap);
    gap: var(--small-gap);
    flex-wrap: wrap;
    justify-content: center;
}
.outside-activities article {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 480px;
    max-height: 520px;
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: var(--box-shadow);
}
.outside-activities article::after {
    position: absolute;;
    content: "";
    z-index: 5;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 25%, rgba(0, 0, 0, 0));
}
.outside-activities article p {
    position: absolute;
    z-index: 10;
    bottom: 8px;
    margin: 0;
    color: var(--light-text-color);
}
.outside-activities article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
footer {
    margin-top: var(--small-gap);
    padding: var(--small-gap);
    background-color: var(--bg2-color);
    color: var(--darker-text-color);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}
footer .footer-row {
    display: flex;
    gap: var(--big-gap);
}
.contacts {
    flex-grow: 1;
    flex-basis: 0;
}
.about {
    flex-grow: 1;
    flex-basis: 0;
}
.zaselenie {
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);
}
.zaselenie .input-wrapper {
    max-width: 30%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: var(--bg2-color);
    padding: 5px;
    border-radius: 5px;
    color: var(--bg-color);
}
.zaselenie .input-wrapper input[type="text"], .zaselenie .input-wrapper input[type="number"] {
    background-color: unset;
    border: 2px solid var(--bg-color);
    border-radius: 5px;
    padding: 5px;
}
.zaselenie .submit-wrapper {
    margin-block: var(--small-gap);
}
.chat-widget {
	position: fixed;
	z-index: 30;
	bottom: 35px;
	right: 35px;
	width: 25px;
	height: 25px;
	background: green;
	border-radius: 51%;
	overflow: hidden;
}
.chat-wrapper {
	position: fixed;
	display: flex;
	flex-direction: column;
	bottom: 35px;
	right: 35px;
	width: 30%;
	height: 50%;
}
.chat-header {
	display: flex;
	flex-grow: 1;
	justify-content: space-between;
}
.close-chat {
	height: 100%;
	width: auto;
}
.chat-body {
	flex-grow: 6;
}
.chat-input {
	flex-grow: 1;
}
@media (max-width: 420px) {
    .newslist-smallcard {
        margin-inline: var(--small-gap);
}
    .newslist-smallcard .news-item {
        min-width: 100%;
    }
    .newslist-smallcard .news-item-empty {
/*         min-width: 150px; */
    }
    .head {
        position: absolute;
    }
}
